.hero-section {
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 119, 255, 0.078);
    
  }
  
  .hero-section h1 {
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background: linear-gradient(to left, rgb(0, 234, 255), rgb(0, 106, 255), rgb(0, 102, 255));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  
  .hero-stats {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 5px ;
    padding: 1rem;
    width: 27rem;
    font-family: cursive;
    font-size: medium;
    
}
  
  .explore-btn {
    padding: 1.1rem 2.2rem;
    background-color: #0400ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size : 14px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    
  }
  .hero-cont{

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
 .texts{
      font-family: cursive;
      font-size: larger;
 }