.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures navbar stays on top */
    background-color: rgb(255, 255, 255); /* Keeps it visible */
    box-shadow: 0px 4px 6px rgba(30, 30, 30, 0.062);
    font-size : 14px;
    text-align: center;
  }
  
  /* Navbar Brand (SAYED) Font */
  .navbar-brand {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  /* Prevent content from going under the navbar */
  body {
    padding-top: 55px; /* Adjust based on navbar height */
  }